<div class="conditionContainer" *ngIf="anyConditionType">

    <div class="question">
        <label for="conditionId">Condition: </label>
        <select id="conditionId" name="parentCondition">
            <option value="equals">Equals</option>
            <option value="greaterThan" *ngIf="numberConditionType">Greater than</option>
            <option value="lessThan" *ngIf="numberConditionType">Less than</option>
        </select>        
    </div>

    <div class="answer">
        <div class = "text" *ngIf="textConditionType">
            <input id="conditionId" type='text' />
        </div>

        <div class = "number" *ngIf="numberConditionType">
            <input id="conditionId" type='number' />
        </div>
    
        <div class = "text" *ngIf="radioConditionType">
            <select id="conditionId" name="Yes/No">  
                <option value="yes">Yes</option>
                <option value="no">No</option>    
            </select>
        </div>
    
        
    </div>

</div>