<div class="questionContainer" *ngIf="anyConditionType">
    
    <div class = "question">
        <label for="questionId">Question: </label>
        <input id="questionId" name="questionString" value="{{questionString}}">        
    </div>

    <div class="answer">
        <div class="text" *ngIf="textConditionType">
            <input id="questionId" type='text' />
        </div>

        <div class="number" *ngIf="numberConditionType">
            <input id="questionId" type='number' />
        </div>

        <div class="radio" *ngIf="radioConditionType">
                <select id="questionId" name="Yes/No">  
                    <option value="yes">Yes</option>
                    <option value="no">No</option>    
                </select>
        </div>
    </div>
</div>