<div class="card-body">

    <form novalidate
          [formGroup] = "rootForm">

          <!-- <div *ngIf=""> TODO CONDITION + VALUE -->

        <div formArrayName="formContainer">             
            <div *ngFor="let f of rootForm.controls.formContainer.controls; let i=index;" [formGroupName]="i">
                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label"
                           attr.for="{{'questionId' + i}}">Question</label>
                    <div class="col-md-8">
                        <input class="form-control"
                            id="{{'questionId' + i}}"
                            type="text"
                            placeholder="Your question"
                            formControlName="question" />
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label"
                           attr.for="{{'typeId' + i}}">Type</label>
                    <div class="col-md-8">
                        <select class="form-control"
                            id="{{'typeId' + i}}"
                            formControlName="type">
                            <option value=""
                                    disabled
                                    selected
                                    hidden>Select type</option>
                            <option value="text">Text</option>
                            <option value="number">Number</option>
                            <option value="bool">Yes/No</option>      
                        </select>
                    </div>
                </div> 

                <div class="form-group row mb-2">
                    <div class="offset-md-2 col-md-4">
                        <button class="btn btn-outline-secondary"
                                (click)="addSub(i)">
                        Add Sub-Input{{i}}
                        </button>
                        <button class="btn btn-outline-secondary"
                                type="button"
                                (click)="delete(i)">                            
                        Delete
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>

        <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3"
                            style="width:80px"
                            (click)="addForm()">
                    Add Input
                    </button>
                </div>
            </div>
    </form>
</div>


<br>{{ rootForm.value | json }}
<br>&nbsp;